body {
    background-color:rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

section a {
    text-decoration: none;
}

nav {
    background-color:brown;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

h1{
    color: white;
    position: relative;
    top: 250px;
    left: 30px;
    width: fit-content;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 8px;
    background-color: brown;
    text-align: center;
    text-decoration: none;
    color: white;
}

#banner{
    width: 100%;
}

article {
    width: 100%;
    position: relative;
    
}

article p {
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

li {
    display: inline-block;
    color: white;
    width: 25%;
    align-content: center;
}

.movie {
    width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 2%;
}

.movie img{
    width:200px;
    height: auto;
    border-radius: 2.5%;
    border-right: 1px solid grey;
}


.movie p{
    color: white;
    position: relative;
    top: 30px;
    width: 445px;
    display: inline-block;
    text-align: center;
}

.movie:hover{
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: 1px 1px 5px white;
}

footer{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 15px;
    background-image: linear-gradient(rgb(20, 20, 20), rgb(42, 42, 42));
    background-color: rgb(42, 42, 42);
    width: 100%;
}

footer ul li{
    display: inline-block;
    font-size: 15px;
    width: 19%;
    text-align: center;
}

footer ul {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
