body {
    background-color:rgb(20, 20, 20);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }



#banner{
    position: relative;
    top: 20px;
    width: 100%;
    height: 300px;
    border-style: none;
}

#nav {
    background-color:brown;
    white-space: nowrap;
}

h1{
    color: white;
    font-size: 30px;
    top: 0px;
    position: absolute;
    background-color: rgb(42, 42, 42);
    width: 100%;
    padding-bottom: 1em;
}


#movies {
    white-space: nowrap;
    max-width: 1200px;
}

li {
    display: inline-block;
    color: white;
    width: 25%;
    align-content: center;
}

img{
    width:200px;
    height: auto;
    border-radius: 2.5%;
    border-style: solid;
    border-color: brown;
}

p{
    color: white;
    max-width: 200px;
    display: inline-block
}

figcaption{
    text-align: center;
}

.movies ul li:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

footer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(42, 42, 42);
    width: 100%;
}

footer li{
    display: inline-block;
    font-size: 10px;
    width: 19%;
}

footer ul {
    white-space: nowrap;
}
